@font-face {
 font-family: 'previous';
 /*src: url('fonts/icomoon.eot?5kiojs');
 src: url('fonts/icomoon.eot?5kiojs#iefix') format('embedded-opentype'),
 url('fonts/icomoon.ttf?5kiojs') format('truetype'),
 url('fonts/icomoon.woff?5kiojs') format('woff'),*/
 src: url('/icons/previous.svg') format('svg');
 font-weight: normal;
 font-style: normal;
 }

@font-face {
    font-family: BentonSans Black;
    src: url("/fonts/BentonSans Black.otf") format("opentype");
}

@font-face {
    font-family: BentonSans Bold;
    src: url("/fonts/BentonSans Bold.otf") format("opentype");
}

@font-face {
    font-family: BentonSans Book;
    src: url("/fonts/BentonSans Book.otf") format("opentype");
}

@font-face {
    font-family: BentonSans Medium;
    src: url("/fonts/BentonSans Medium.otf") format("opentype");
}

@font-face {
    font-family: BentonSans Regular;
    src: url("/fonts/BentonSans Regular.otf") format("opentype");
}

@font-face {
    font-family: goodvibes;
    src: url("/fonts/goodvibes.otf") format("opentype");
}

.background {
	background-color: #F7F7F7;
}

.icon-previous {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: no-repeat 50%/100% 100%;
}

.icon-previous {
  background-image: url("/icons/icon-previous.png");
}

.icon-previous a:hover {
  color: blue;
}

/*CAROUSEL PADA PAKET WISATA*/
.carousel-style{
	/*position: center;*/
	/*margin-left: 30px;*/
	/*padding-right: 60px;*/
	height: 400px;
	object-fit: cover; /* cover, contain, fill, scale-down */
	object-position: center;
}

.carousel-paket{
	color: black;
	font-family: "goodvibes";
	font-size: 24pt;
}

.carousel-paket-capt{
	color: black;
	font-family: "BentonSans Medium";
	font-size: 16pt;
}

.carousel-in{
	position: absolute;
    right: 30%;
    left: 30%;
    top: 20%;
    /*bottom: 20%;*/
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    margin-bottom: 80px !important;
    background: rgb(247, 247, 247, 0.5);
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-style: double;
	border-width: 7px;
	border-color: black;
}

/*CARD PADA PAKET WISATA*/

.card-in{
	position: absolute;
    right: 20%;
    left: 20%;
    top: 20%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    margin-bottom: 80px !important;
    background: rgb(247, 247, 247, 0.5);
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-style: double;
	border-width: 5px;
	border-color: black;
}

.card-paket{
	font-family: 'goodvibes';
	font-size: 16pt;
	text-align: center;
	opacity: 5;
	color: #000000;
}

.card-paket-capt{
	color: black;
	font-family: "BentonSans Medium";
	font-size: 12pt;
}

/*CARD PADA KATEGORI WISATA*/

.card-kategori{
	font-family: 'BentonSans Regular';
	font-size: 12pt;
	color: #1D69BE;
	text-align: center;
	text-transform: uppercase;
}

.card-kategori-capt{
	color: black;
	font-family: "BentonSans Medium";
	font-size: 6pt;
}

.card-img2{
	width: 100%;
	/*height: 200px;*/
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
}

.card-title2{
	color: black;
	font-family: "BentonSans Medium";
	font-size: 16pt;
	text-align: center;
}

.card-caption{
	font-family: 'BentonSans Regular';
	font-size: 12pt;
	text-align: center;
}

/*DETAIL PAKET WISATA*/

.detail-title{
	font-family: 'BentonSans Medium';
	font-size: 16pt;
	/*text-align: center;*/
	color: #1D69BE;
	display: block;
	margin-top: 0.8em;
	margin-left: auto;
	margin-right: auto;
}

.detail-body{
	font-family: 'BentonSans Regular';
	font-size: 12pt;
	text-align: justify;
	padding-bottom: 20px;
}


/*OTHER*/

.title{
	font-family: 'BentonSans Bold';
	font-size: 30pt;
	text-transform: uppercase;
	width: 100%;
	text-align: center;
	padding: 20px;
}

.sub-title{
	font-family: 'BentonSans Bold';
	font-size: 20pt;
	text-transform: uppercase;
	width: 100%;
	/*padding: 20px;*/
}

.btn-new {
	font-family: 'BentonSans Medium';
	font-size: 16pt;
    color: #F7F7F7;
    background-color: #358ED7;
    border-radius: 0em !important;
    width: 60%;
    table-layout: fixed;
    border-collapse: collapse;
    object-position: center;
}

.btn-new:hover {
    background-color: #61ABF3;
    color: #F7F7F7;
}

.btn-new:focus {
	background-color: #0757A6;
}

.foto-title{
	color: black;
	font-family: "BentonSans Medium";
	font-size: 16pt;
	text-transform: uppercase;
}

.foto-in{
	position: absolute;
    right: 2%;
    left: 2%;
    top: 35%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    margin-bottom: 80px !important;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.foto-caption{
	color: #F7F7F7;
	font-family: "BentonSans Medium";
	font-size: 16pt;
	text-transform: uppercase;
}

.link-galeri {
	color: #358ED7;
	font-family: "BentonSans Medium";
	font-size: 12pt;
	padding: 10px;
	text-decoration: underline;
}

.link-galeri:hover {
	color: #61ABF3;
}

.link-galeri:focus {
	color: #0757A6;
}

.single-img {
	margin-left: 30px;
	width: 80%;
	display: inline-block;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-right: auto;
}

.page-new {
	margin-left: 10px;
	font-family: 'BentonSans Bold';

}

.page-new:focus {

}

.table-style{
	width: 100%;
	table-layout: fixed;
}

.table-title {
	font-family: 'BentonSans Regular';
	color: #1D69BE;
	font-size: 12pt;
	border-bottom: 1px solid black;
	height: 3em;
}

.table-content {
	font-family: 'BentonSans Regular';
	font-size: 12pt;
	border-bottom: 1px solid black;
	height: 3em;
}
